<div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.NAME.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.NAME.style}}">{{firstName}}</div>
<div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.NAME.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.NAME.style}}">{{lastName}}</div>
<br>
<div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.css_readOnly}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.style}}">
    <label class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.style}}">Account Info</label>
</div>
<div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.css_readOnly}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.style}}">
    <label class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.style}}">Phone Number</label>
</div>
<div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.css_readOnly}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.style}}">
    <label class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.style}}">Mail Address</label>
</div>
<div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.css_readOnly}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.style}}">
    <label class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.style}}">Reset Password</label>
</div>

