<div class="ps-1 pe-3" style="min-height:600px">
    <div class="row mt-2">
        <div class="{{class1}}" (click)="changeState('background')">
            <h3>BackGround</h3>
        </div>
        <div class="{{class2}}" (click)="changeState('border')">
            <h3>Border</h3>
        </div>
        <div class="{{class3}}" (click)="changeState('text-font')">
            <h3>Test-Font</h3>
        </div>
    </div>
    <div class="row mt-2" *ngIf="state == 'background'">
        <div class="col-6">
            <app-html-element-box-back-ground-configure-view
                    [boxColor]="this.snvaHtmlElementStyle.boxColor"
                    (change)="changeUiModel()"
            >
            </app-html-element-box-back-ground-configure-view>
        </div>
        <div class="col-6">
            <app-html-element-box-position-configure-view
                    [position]="this.snvaHtmlElementStyle.boxPosition"
                    (change)="changeUiModel()"
            >
            </app-html-element-box-position-configure-view>
        </div>
        <div class="col-12">
            <app-html-element-box-shadow-configure-view
                    [shadowList]="this.snvaHtmlElementStyle.boxShadow"
                    (shadowChange) = "updateBoxShadow($event)"
            >
            </app-html-element-box-shadow-configure-view>
        </div>
    </div>
    <div class="row mt-2"  *ngIf="state == 'border'">
        <div class="col-12">
            <app-html-element-box-border-configure-view
                    [radius]  = "this.snvaHtmlElementStyle.boxRadius"
                    [boxSize] = "this.snvaHtmlElementStyle.boxSize"
                    [border]  = "this.snvaHtmlElementStyle.boxBorder"
                    (change)="changeUiModel()"
            >
            </app-html-element-box-border-configure-view>
        </div>
    </div>
    <div class="row mt-2" *ngIf="state == 'text-font'">
        <div class="col-6" >
            <app-html-element-text-configure-view
                    [title]="'Default Text'"
                    [color]="this.snvaHtmlElementStyle.textColor"
                    [font] ="this.snvaHtmlElementStyle.textFont"
                    (change)="changeUiModel()"
            ></app-html-element-text-configure-view>
        </div>
        <div class="col-6">
            <app-html-element-text-position-configure-view
                    [position]="this.snvaHtmlElementStyle.textPosition"
                    (change)="changeUiModel()"
            >
            </app-html-element-text-position-configure-view>
        </div>
        <div class="col-12 mt-3">
            <app-html-element-text-shadow-configure-view
                    [shadowList]="this.snvaHtmlElementStyle.textShadow"
                    (shadowChange) = "updateTextShadow($event)"
            >
            </app-html-element-text-shadow-configure-view>
        </div>
    </div>
</div>

