<div class="card">
    <div class="row">
        <div class="col-2" (click)="changePart('header')">Header</div>
        <div class="col-2" (click)="changePart('footer')">Footer</div>
        <div class="col-2" (click)="changePart('accountDetail')">AccountDetail</div>
        <div class="col-2" (click)="changePart('accountList')">AccountList</div>
        <div class="col-2" (click)="changePart('candidateForm')">CandidateForm</div>
        <div class="col-2" (click)="changePart('candidateList')">CandidateList</div>
        <div class="col-2" (click)="changePart('candidateSubmission')">Submission</div>
        <div class="col-2" (click)="changePart('background')">Background</div>
    </div>
</div>
