<div class="{{uiconfigure.ACCOUNT_DETAIL.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.style}}">
  <div class="row g-3 m-2">
    <div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.style}}">
      <div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.style}}">
        <div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.style}}">
          <!-- left menu bar Read and Write-->
          <app-menu-bar *ngIf="authorization == 'readAndWrite'" [firstName]='currentUser.firstName' [lastName]='currentUser.lastName' (currentStatus) = 'changeStatus($event)'></app-menu-bar>
          <!-- left menu bar Read Only-->
          <app-menu-bar-read-only *ngIf="authorization != 'readAndWrite'" [firstName]='currentUser.firstName' [lastName]='currentUser.lastName'></app-menu-bar-read-only>
        </div>
      </div>
    </div>
    <div class="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.style}}">
      <div class="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.style}}">
        <div class="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.BODY.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.BODY.style}}">
          <!-- Unknown My Account Role -->
          <div class="row g-0" *ngIf="authorization == 'notAccess'">
            <app-error-page [erroeMessage]='erroeMessage'></app-error-page>
          </div>
          <!-- Can Not Loading User Data -->
          <div class="row g-0" *ngIf="authorization != 'notAccess' && currentUser.userId == -1">
            <app-error-page [erroeMessage]='erroeMessage'></app-error-page>
          </div>
          <!-- Read Only -->
          <div class="row g-0" *ngIf="authorization == 'readOnly' && currentUser.userId != -1">
            <div class="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.BODY.CONTAINER.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.BODY.CONTAINER.style}}">
              <app-account-info-read-only [currentUser]='currentUser'></app-account-info-read-only>
              <app-can-suspend [currentUser]='currentUser' [canSuspend]='canSuspend'></app-can-suspend>
            </div>
          </div>
          <!-- Read and Write -->
          <div class="row g-0" *ngIf="authorization == 'readAndWrite'  && currentUser.userId != -1">
            <div class="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.BODY.CONTAINER.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.BODY.CONTAINER.style}}" *ngIf="currentStatus == 'accountInfo'">
              <app-account-info [currentUser]='currentUser'></app-account-info>
              <app-can-suspend [currentUser]='currentUser' [canSuspend]='canSuspend'></app-can-suspend>
            </div>
            <!-- Update Phone -->
            <div class="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.BODY.CONTAINER.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.BODY.CONTAINER.style}}" *ngIf="currentStatus == 'phoneNumber'">
              <app-phone-number [currentUser]='currentUser' [isMyAccount]="isMyAccount"></app-phone-number>
            </div>
            <!-- Reset Password -->
            <div class="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.BODY.CONTAINER.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.BODY.CONTAINER.style}}" *ngIf="currentStatus == 'resetPassword'">
              <app-password [currentUser]='currentUser' [isMyAccount]="isMyAccount"></app-password>
            </div>
            <!-- Update Address -->
            <div class="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.BODY.CONTAINER.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.WORKSPACE.CARD.BODY.CONTAINER.style}}" *ngIf="currentStatus == 'mailAddress'">
              <app-address [currentUser]='currentUser' [isMyAccount]="isMyAccount"></app-address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
