<div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.NAME.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.NAME.style}}">{{firstName}} {{lastName}}</div>
<div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.NAME.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.NAME.style}}"></div>
<br>
<div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.css}} text-start" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.style}}">
    <label class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.style}}" (click)="changeStatus('accountInfo')"  >Account Info</label>
</div>
<div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.css}} text-start" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.style}}">
    <label class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.style}}" (click)="changeStatus('phoneNumber')"  >Phone Number</label>
</div>
<div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.css}} text-start" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.style}}">
    <label class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.style}}" (click)="changeStatus('mailAddress')"  >Mail Address</label>
</div>
<div class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.css}} text-start" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.style}}">
    <label class="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.css}}" style="{{uiconfigure.ACCOUNT_DETAIL.MENU_BAR.CARD.BODY.LIST.LABEL.style}}" (click)="changeStatus('resetPassword')">Reset Password</label>
</div>
