<div  class="card">
    <h2>Pre-View</h2>
    <div>
        <app-footer *ngIf="part=='footer'"
                [model]="'edit'"
                [ui]="this.uiModelList"
        >
        </app-footer>
        <app-header *ngIf="part=='header'"
                    [title]="'Logo'"
                    [model]="'edit'"
                    [userName]="'MyAccount'"
                    [userRole]="'superAdmin'"
                    [ui]="this.uiModelList"
        >
        </app-header>
    </div>
    <div class="row p-2 justify-content-end text-end">
        <div class="col-2">
            <button class="btn btn-primary" (click)="showCurrentElement()">SAVE</button>
        </div>
    </div>
</div>
