<nav class="{{uiconfigure.HEADER.css}}" style="{{uiconfigure.HEADER.style}}">
<div class="container-fluid justify-content-between">
  <div class="collapse navbar-collapse " id="navbar">
    <label class="{{uiconfigure.HEADER.TITLE.css}}" style="{{uiconfigure.HEADER.TITLE.style}}" routerLink="">
      {{title}}
    </label>
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item dropdown " style="caret-color: black;" >
        <a class="{{uiconfigure.HEADER.MENU_TITLE.css}}" style="{{uiconfigure.HEADER.MENU_TITLE.style}}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ManageTools
        </a>
        <div class="{{uiconfigure.HEADER.MENU.css}}" style="{{uiconfigure.HEADER.MENU.style}}" aria-labelledby="navbarSuperDropdownMenuLink">
          <a class="{{uiconfigure.HEADER.ITEM.css}}" style="{{uiconfigure.HEADER.ITEM.style}}" (click)="showAddNewUser()" *ngIf="canAddAccount==true">Add New User</a>
          <a class="{{uiconfigure.HEADER.ITEM.css}}" style="{{uiconfigure.HEADER.ITEM.style}}" (click)="accountlist()"    *ngIf="canAddAccount==true">Manage Users</a>
          <a class="{{uiconfigure.HEADER.ITEM.css}}" style="{{uiconfigure.HEADER.ITEM.style}}" (click)="newCandidate()"   *ngIf="addCandidate==true" >New Candidate</a>
          <a class="{{uiconfigure.HEADER.ITEM.css}}" style="{{uiconfigure.HEADER.ITEM.style}}" (click)="candidatelist()">Manage Candidate</a>
          <a class="{{uiconfigure.HEADER.ITEM.css}}" style="{{uiconfigure.HEADER.ITEM.style}}" (click)="viewSubmission()" *ngIf="addSubmission==true">Manage Submission</a>
        </div>
      </li>
      <li class="nav-item dropdown " style="caret-color: black;" >
        <a class="{{uiconfigure.HEADER.MENU_TITLE.css}}" style="{{uiconfigure.HEADER.MENU_TITLE.style}}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          QuickLink
        </a>
        <div class="{{uiconfigure.HEADER.MENU.css}}" style="{{uiconfigure.HEADER.MENU.style}}" aria-labelledby="navbarSuperDropdownMenuLink">
          <a class="{{uiconfigure.HEADER.ITEM.css}}" style="{{uiconfigure.HEADER.ITEM.style}}" (click)="goDashboard()">MyDashboard</a>
          <a class="{{uiconfigure.HEADER.ITEM.css}}" style="{{uiconfigure.HEADER.ITEM.style}}" (click)="myAccount()">MyAccount</a>
        </div>
      </li>
    </ul>
    <span class="nav-item dropdown ms-auto me-4" style="caret-color: black;" >
      <a class="{{uiconfigure.HEADER.ICON.css}}" style="{{uiconfigure.HEADER.ICON.style}}" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person-circle"></i> {{userName}}
      </a>
      <div class="{{uiconfigure.HEADER.ACCOUNT.css}}" style="{{uiconfigure.HEADER.ACCOUNT.style}}" aria-labelledby="navbarDropdownMenuLink">
        <a class="{{uiconfigure.HEADER.ACCOUNT_ITEM.css}}" style="{{uiconfigure.HEADER.ACCOUNT_ITEM.style}}" (click)="myAccount()">My Account</a>
        <a class="{{uiconfigure.HEADER.ACCOUNT_ITEM.css}}" style="{{uiconfigure.HEADER.ACCOUNT_ITEM.style}}" routerLink="">Message</a>
        <a class="{{uiconfigure.HEADER.ACCOUNT_ITEM.css}}" style="{{uiconfigure.HEADER.ACCOUNT_ITEM.style}}" (click)="logout()">Log Out</a>
      </div>
    </span>
  </div>
</div>
</nav>
