<div class="row g-3 m-2">
    <div class="col-sm-1 p-2"></div>
    <div class="col-sm-10 p-2">
        <div class="card cardBackGround border-success text-white text_font">
            <div class="row m-2 text-start">
                <div class="col-6">
                    <h5>RecruiterName: {{submission.bdeName}}</h5>
                </div>
               
                <hr>
                <div class="row">
                    <div class="col-2">
                        <label for="visaStatus">Candidate Id:</label>
                        <select id="visaStatus" name="visaStatus" class="form-select"
                            [(ngModel)]="submission.candidateDetails.candidateId">
                            <option>{{submission.candidateDetails.candidateId}}</option>
                            <option *ngFor="let v of candidateList">{{v.candidateId}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="middleName">Position:</label>
                        <input type="text" id="middleName" name="middleName" class="form-control"
                            [(ngModel)]="submission.positionTitle">
                    </div>
                    <div class="col-2">
                        <label for="lastName">Bill Rate:</label>
                        <input type="text" id="lastName" name="lastName" class="form-control"
                            [(ngModel)]="submission.billRate">
                    </div>
                    <div class="col-2">
                        <label for="lastName">Bill Rate Annual:</label>
                        <input type="text" id="lastName" name="lastName" class="form-control"
                            [(ngModel)]="submission.billRateAnnual">
                    </div>
                    <div class="col-2">
                        <label for="visaStatus">Submission Status</label>
                        <select id="visaStatus" name="visaStatus" class="form-select"
                            [(ngModel)]="submission.submissionStatus">
                            <option>{{submission.submissionStatus}}</option>
                            <option *ngFor="let s of submissionStatus">{{s}}</option>
                        </select>
                    </div>
                </div>
</div>
                <div class="row m-2 text-start">
                    
                    <div class="col-6">
                        <h5>Vendor Information</h5>
                    <hr>
                        <div class="row">
                            <div class="col-3">
                                <label for="school">Vendor Tier:</label>
                                <input type="text" id="school" name="school" class="form-control" [(ngModel)]="submission.vendor.vendorTier">
                            </div>
                            <div class="col-8">
                                <label for="school">Vendor Name:</label>
                                <input type="text" id="school" name="school" class="form-control" [(ngModel)]="submission.vendor.vendorName">
                            </div>
                            <div class="col-8">
                                <label for="school">SPOC:</label>
                                <input type="text" id="school" name="school" class="form-control" [(ngModel)]="submission.vendor.spoc">
                            </div>
                            <div class="col-8">
                                <label for="school">POC:</label>
                                <input type="text" id="school" name="school" class="form-control" [(ngModel)]="submission.vendor.poc">
                            </div>
                            <div class="col-6">
                                <label for="emailId">Email ID:</label>
                                <input type="email" id="emailId" name="emailId" class="form-control" [(ngModel)]="submission.vendor.email">
                            </div>
                            <div class="col-4">
                                <label for="phoneNumber">Phone Number:</label>
                                <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" [(ngModel)]="submission.vendor.phone">
                            </div>
                      
                                    <div class="col-4">
                                        <label class="text_font text-white">State</label>
                                        <select id="addressState" class="form-select text_font" formControlName="state"
                                            (change)="handleStateChange()" [(ngModel)]="submission.vendor.state">
                                            <option>{{submission.vendor.state}}</option>
                                            <option *ngFor="let state of states">{{ state.label}}</option>
                                        </select>
                                    </div>
                           
                                    <div class="col-6">
                                        <label class="text_font text-white">City</label>
                                        <select id="addressCity" class="form-select text_font" (change)="handleLgaChange()" formControlName="lga" [(ngModel)]="submission.vendor.city">
                                            <option>{{submission.vendor.city}}</option>
                                            <option *ngFor="let lga of lgas">{{ lga.label }}</option>
                                        </select>
                                    </div>
                                
                         
                           
                        </div>
                       
                    </div>
                    <div class="col-6">
                        <h5>End Client Information</h5>
                        <hr>
                        <div class="row mt-2">
                            <div class="col-6">
                                <label for="emailId">End Client</label>
                                <input type="text" id="emailId" name="emailId" class="form-control" [(ngModel)]="submission.endClient.endClient">
                            </div>
                            <div class="col-5">
                                <label class="text_font text-white">State</label>
                                <select id="addressEQState" class="form-select text_font" formControlName="state"
                                    (change)="handleEQStateChange()" [(ngModel)]="submission.vendor.state">
                                    <option>{{submission.endClient.state}}</option>
                                    <option *ngFor="let state of states">{{ state.label}}</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label class="text_font text-white">City</label>
                                <select id="addressEQCity" class="form-select text_font" (change)="handleEQLgaChange()" formControlName="lga" [(ngModel)]="submission.vendor.city">
                                    <option>{{submission.endClient.city}}</option>
                                    <option *ngFor="let lga of lgas">{{ lga.label }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <h5 class="mt-5">Interview Schedule</h5>
                    <hr>
                    <div class="row mt-2">
                        <div class="col-5">
                            <label>Date:</label>
                            <input type="date" class="form-control" [(ngModel)]="submission.customerInterview.interviewDate">
                        </div>
                        <div class="col-5">
                            <label>Time:</label>
                            <input type="time" class="form-control" [(ngModel)]="submission.customerInterview.interviewTime">
                        </div>
                        <div class="col-5">
                            <label>Result:</label>
                            <input type="text" class="form-control" [(ngModel)]="submission.customerInterview.interviewResult">
                        </div>
                        <div class="col-5">
                            <label>Feedback:</label>
                            <input type="text" class="form-control" [(ngModel)]="submission.customerInterview.interviewFeedback">
                        </div>
                        
                    </div>
                               
                            </div>
                        </div>
                    </div>

                </div>
            
            <div class="row m-2 text-start">
                
                <div class="col">
                    <h5>Project Details</h5>
                    <hr>
                    <div class="row mt-2">
                        <div class="col-3">
                            <label>Project Start Date:</label>
                            <input type="date" class="form-control" placeholder="{{submission.projectStartDate}}"[(ngModel)]="submission.projectStartDate">
                        </div>
                        <div class="col-2">
                            <label>Project End Date</label>
                            
                                <input type="date" class="form-control" placeholder="{{submission.projectEndDate}}" [(ngModel)]="submission.projectEndDate">
                        
                        </div>
                    </div>
                   
                        <div class="col-3">
                            <label>Remarks:</label>
                            <textarea id="w3review" name="remarks" rows="4" cols="100" [(ngModel)]="submission.remarks">
                              
                                </textarea>
                            </div>
                    
                    
                   
                    <div class="row mt-5 mb-3">
                        <div class="col-9">
                            <div id="errorMessage"></div>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-success px-4" (click)="add(submission)"  *ngIf="submissionId=='new'">Add</button>
                            <button class="btn btn-success px-4" (click)="save(submission)" *ngIf="submissionId!=='new'">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>